
    <nav class="app-navigation">
        <div class="menu">
            <ul>
                <li><a href="/app/recipes" class="menu-button">przepisy</a> </li>
                <li><a href="/app/products" class="menu-button">produkty</a> </li>
            </ul>
        </div>
        <aside class="logout">
            <a href="/auth/logout" class="logout-button">wyloguj</a>
        </aside>
    </nav>