<nav class="navigation">
    <aside class="navigation logo">
        <img class="navigation logo-img" src="/food-logo.png" alt="logo aplikacji">
    </aside>
    <main class="navigation main-section">
        <ul class="navigation">
            <li class="navigation"><a href="/hallway/login">Login</a></li>
            <li class="navigation"><a href="/hallway/register">Rejestracja</a></li>
        </ul>
    </main>
</nav>