@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
  --font-size: calc(20px + ((20vh + 20vw)/20));
  --base-background-color: #efece5;
  --base-color: #0D0D0D;
  --main-color: #D9BB96;
  --first-color: #59321B;
  --second-color: #8C5C20;
  --third-color: #403634;
}